# CMake files
*.txt linguist-vendored
*.cmake linguist-vendored
src/linux/** linguist-vendored
src/windows/** linguist-vendored

# C, C++ files
*.c linguist-vendored
*.cc linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
*.hpp linguist-vendored

# HTML files
*.html linguist-vendored
*.htm linguist-vendored

# Swift files
*.swift linguist-vendored

# Java files
*.java linguist-vendored
*.jar linguist-vendored

# Kotlin files
*.kt